 body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
  
.block {
  position: relative;
}
  
.board {
  background-color: white;
  bottom: 0;
  position: absolute;
}
  
.board_border {
  background-color: orange;
  position: absolute;
}

.none {
  background-color: white;
  background-image: '';
  position: absolute;
}

#qrcode {
  height: 300px;  
  position: absolute;  
  visibility: hidden;
  width: 300px;
}
