body {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#viewport {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.card {
    position: absolute;
    border-radius: 8px;
    background-image: url( '../../img/energy/gold-card.png' );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    box-shadow: -2px 0 5px 0 rgba( 0, 0, 0, 0.40 );
    -webkit-transform: rotate( -90deg );
    transform: rotate( -90deg );
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 1.125em;
    letter-spacing: 3px;
    text-shadow: 1px 0 0 white;
    cursor: default;
    visibility: hidden;
}

.card > .bank {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.card > .chip {
    position: absolute;
    left: 100px;
    bottom: 80px;
}

.card > .expiration {
    position: absolute;
    right: 23px;
    bottom: 30px;
}

.card > .holder {
    position: absolute;
    left: 15px;
    bottom: 45px;
}

.card > .kaazing {
    position: absolute;
    left: 15px;
    top: 15px;
}

.card > .logo {
    position: absolute;
    right: 15px;
    top: 15px;
}

.card > .member {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    position: absolute;
    left: 15px;
    bottom: 15px;
    text-shadow: none;
    letter-spacing: 0;
}

.card > .number {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 70px;
}

.card > .number > a {
    color: black;
    text-decoration: none;
}

.card > .petrol {
    position: absolute;
    right: 15px;
    top: 15px;
}

.card > .since {
    position: absolute;
    left: 140px;
    bottom: 15px;
}

.details {
    left: 640px;
    top: 0;
}

.details > .panel > .pump {
    border-top: dashed 1px darkgray;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url( '../../img/energy/stripe.png' );
    background-repeat: repeat;
}

.details > .panel > .pump > .code {
    /*
    display: block;
    margin: auto;
    width: 300px;
    */
    margin-left: 15px;
    margin-right: 15px;
}

.details > .panel > .pump > .code > p {
    color: black;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    line-height: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.details > .panel > .pump > .code > input {
    border: solid 1px darkgray;
    color: black;
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    line-height: 50px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    width: 50px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.details > .map {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.details > .panel {
    background-color: rgba( 255, 255, 255, 0.90 );
    border-top: 1px solid #a8a8a7;
    bottom: 0;
    height: 280px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
}

.details > .panel > .pump > button {
    border: none;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 290px;
}

.details > .panel > .pump > button.pending {
    background-color: darkgray;
    color: lightgray;
}

.details > .panel > .pump > button.ready {
    background-color: orange;
    color: white;
}

.details > .panel > p:nth-of-type( 1 ) {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-left: 15px;
    margin-top: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.details > .panel > p:nth-of-type( 2 ) {
    color: darkgray;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0;
    margin-left: 15px;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.details > .panel > .prices {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 303px;
}

.details > .panel > .prices > div {
    border-right: dashed 1px darkgray;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    width: 75px;
}

.details > .panel > .prices > div > p:first-of-type {
    color: #3b6e8f;
    /* color: orange; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.details > .panel > .prices > div > p:last-of-type {
    color: darkgray;
    /* color: orange; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.details > .panel > .prices > div:last-of-type {
    border-right: none;
}

.fill {
    background-color: white;
    left: 320px;
    top: 0;
}

.fill > div {
    background-image: url( '../../img/energy/stripe.png' );
    background-repeat: repeat;
    border-top: dashed 1px darkgray;
    bottom: 0;
    height: 200px;
    left: 0;
    position: absolute;
    right: 0;
}

.fill > div > div {
    background-image: url( '../../img/energy/hot-dogs.jpg' );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: solid 1px lightgray;
    border-radius: 4px;
    height: 115px;
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.fill > div > p {
    bottom: 15px;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    left: 30px;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    right: 30px;
    text-align: center;
}

.fill > p:nth-of-type( 1 ) {
    color: #3b6e8f;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
}

.fill > p:nth-of-type( 2 ) {
    color: darkgray;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.fill > p:nth-of-type( 3 ) {
    color: #3b6e8f;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
}

.fill > p:nth-of-type( 4 ) {
    color: darkgray;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.locations {
    background-color: lightgray;
    left: 320px;
    top: 0;
}

.locations > .list {
    background-color: rgba( 255, 255, 255, 0.90 );
    border-top: 1px solid #a8a8a7;
    bottom: 0;
    height: 265px;
    left: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    right: 0;
}

.locations > .list > .item {
    border-top: 1px solid #a8a8a7;
    cursor: default;
    height: 75px;
    user-select: none;
    -webkit-user-select: none;
}

.locations > .list > .item:first-of-type {
    border-top: none;
}

.locations > .list > .item > .station {
    float: left;
    margin-left: 15px;
    margin-top: 11px;
}

.locations > .list > .item > .station > p:first-of-type {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.locations > .list > .item > .station > p:last-of-type {
    color: darkgray;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.locations > .list > .item > .price {
    float: right;
    margin-right: 15px;
    margin-top: 11px;
}

.locations > .list > .item > .price > p:first-of-type {
    color: #3b6e8f;
    /* color: orange; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    width: 92px;
}

.locations > .list > .item > .price > p:last-of-type {
    color: darkgray;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    width: 92px;
}

.locations > .map {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.marker {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 74px;
    width: 63px;
}

.marker_empty {
    background-image: url( '../../img/energy/marker.empty.svg' );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 20px;
}

.payment {
    background-color: white;
    left: 320px;
    top: 0;
}

.payment > button {
    border: none;
    bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    right: 15px;
}

.payment > p {
    bottom: 15px;
    color: darkgray;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    left: 15px;
    margin-bottom: 0;
    position: absolute;
    right: 15px;
    text-align: center;
}

.payment > button.pending {
    background-color: darkgray;
    color: lightgray;
}

.payment > button.ready {
    background-color: orange;
    color: white;
}

.payment > .page {
    /* bottom: 69px; */
    bottom: 45px;
    left: 0;
    position: absolute;
    right: 0;
}

.payment > .page > .holder {
    margin: auto;
    width: 58px;
}

.payment > .page > .holder > .indicator {
    border-radius: 10px;
    border: 1px darkgray solid;
    float: left;
    height: 10px;
    margin-right: 10px;
    width: 10px;
}

.payment > .page > .holder > .indicator:last-of-type {
    margin-right: 0;
}

.payment > .page > .holder > .indicator.selected {
    background-color: #3b6e8f;
    border: solid 1px #3b6e8f;
}

.payment > .status {
    font-family: 'Source Sans Pro', sans-serif;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 15px;
}

.payment > .wallet {
    bottom: 45px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50px;
}

.screen {
    height: 480px;
    position: absolute;
    width: 320px;
}

.splash {
    background: url( '../../img/energy/steel.mesh.png' ) no-repeat center;
    background-size: cover;
    left: 0;
    top: 0;
}

.splash > p:first-of-type {
    color: orange;
    font-family: 'Righteous', sans-serif;
    font-size: 3em;
    margin-top: 125px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.60 );
}

.splash > p:last-of-type {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin-top: -25px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.60);
}

.template {
    display: none;
}

.waiting {
    background-color: white;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    left: 320px;
    top: 0;
}

.waiting > p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 100px;
    text-align: center;
}
