.gary {
  display: none;
  position: absolute;
}

.gary > .ants {
  border: solid 1px red;  
  border-image: url( ../img/ants.gif ) 1 repeat repeat;  
  bottom: 5px;
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.gary > .handle {
  background: #2376c8;
  border: solid 1px white;
  border-radius: 11px;
  height: 9px;
  position: absolute;
  width: 9px;
}

.gary > .handle.tl {
  left: 0;
  top: 0;
}

.gary > .handle.tr {
  right: 0;
  top: 0;
}

.gary > .handle.br {
  bottom: 0;
  right: 0;
}

.gary > .handle.bl {
  bottom: 0;
  left: 0;
}
