body {
  background-color: #ececec;   
  color: rgba( 0, 0, 0, 0.87 );
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 16px;  
}

button {
  background: none;
  border: solid 1px #994fd7;
  border-radius: 50px;
  color: #994fd7;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  height: 50px;
  line-height: 50px;
  margin: 65px 0 65px 0;
  outline: none;
  padding: 0;
  width: 200px;
}

button:hover {
  background-color: #994fd7;
  color: #ececec;
}

input {
  background: none;
  border: none;
  border-bottom: solid 1px #994fd7;  
  color: #994fd7;
  font-size: 2em;
  font-weight: 300;
  margin: 0 100px 30px 100px;
  padding: 0 0 16px 0;
  outline: none;
  opacity: 0.30;
}

input::placeholder {
  color: #994fd7;  
}

select {
  -webkit-appearance: none;  
  background: none;
  background-image: url( ../img/drop.down.svg );
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 40px;
  border: none;
  border-bottom: solid 1px #994fd7;
  border-radius: 0;
  color: #994fd7;    
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  height: 50px;
  line-height: 50px;
  margin: 0 0 0 30px;
  outline: none;
  padding: 0;
  width: 200px;
}

.form {
  display: flex;
  flex-direction: column;
}

.languages {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0 100px 0 100px;
}

.languages > p {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
}

.languages > p:nth-of-type( 2 ) {
  flex-basis: 0;
  flex-grow: 1;
  text-align: right;
}

.logo {
  bottom: 16px;
  left: 16px;
  position: absolute;
}

.phrase {
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 0;
}

.phrase > p {
  font-size: 2em;
  margin: 0 100px 30px 100px;
  padding: 0;
}

.results {
  align-items: center;
  border-top: dashed 1px #994fd7;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  margin: 0 84px 0 84px;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 100px 0 100px;
}

.translate {
  font-size: 2em;
}
