html, body {
  background-color: #f5f7fa;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

button.disabled {
  opacity: 0.38;
}

#action {
  background-color: #4970ad;
  background-image: url( ../img/add.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  border-radius: 56px;
  height: 56px;
  margin: 0;
  outline: none;
  padding: 0;
  width: 56px;
}

#build {
  background-color: #4970ad;
  background-image: url( ../img/build.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  border-radius: 56px;
  bottom: 16px;
  height: 56px;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  right: 16px;
  width: 56px;  
}

#detail {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#detail > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 56px 0 0 0;
  padding: 0;
}

#detail > div > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;    
  border: none;
  border-radius: 56px;
  height: 56px;
  width: 56px;
}

#detail > div > button.back {
  border: solid 1px #4970ad;    
  background-image: url( ../img/backward.blue.svg );
  margin-right: 8px;
}

#detail > div > button.remove {
  background-color: #B71C1C;    
  background-image: url( ../img/remove.svg );
  margin-left: 8px;
}

#detail > img {
  border-radius: 56px;
  height: 56px;
  width: 56px;
}

#detail > p {
  font-size: 1.25em;
  font-weight: 300;
  margin: 16px 0 0 0;
  padding: 0;
  text-align: center;
}

#landing > .list {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

#name {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 56px 0 0 0;
  padding: 0;
}

#name > div > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;    
  border: none;
  border-radius: 56px;
  height: 56px;
  width: 56px;
}

#name > div > button.back {
  border: solid 1px #4970ad;    
  background-image: url( ../img/backward.blue.svg );
  margin-right: 8px;
}

#name > div > button.next {
  background-color: #4970ad;    
  background-image: url( ../img/done.white.svg );
  margin-left: 8px;
}

#name > input {
  background: none;
  border: none;
  border-bottom: solid 1px #e0e3e6;
  border-radius: 0;
  color: #152935;  
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 100;
  margin: 0 0 1px 0;
  outline: none;
  padding: 8px 0 8px 0;
  text-align: center;
  width: 80vw;
}

#name > input:focus {
  border-bottom: solid 2px #6396e0;
  margin: 0;
}

#record {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#record button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;    
  border: none;
  border-radius: 56px;
  height: 56px;
  width: 56px;
}

#record button.cancel {
  border: solid 1px #4970ad;    
  background-image: url( '../img/backward.blue.svg' );  
  margin: 0 8px 0 0;  
}

#record button.capture {
  background-color: #4970ad;    
  background-image: url( '../img/capture.svg' );
  margin: 0 8px 0 8px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;  
  user-select: none;
}

#record button.save {
  background-color: #4970ad;    
  background-image: url( '../img/done.white.svg' );
  margin: 0 0 0 8px;
}

#record canvas {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
}

#record > div.controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: calc( 0.10 * 100vw ) 0 0 0;    
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;  
  user-select: none;
}

#record > p {
  font-size: 1.25em;
  font-weight: 300;
  margin: calc( 0.10 * 100vw ) 0 0 0;
  padding: 0;
  width: 80vw;
}

#record svg {
  left: 0;
  position: absolute;  
  top: 0;  
}

#record .camera {
  height: 320px;
  position: relative; 
  width: 100vw;  
  overflow: hidden;  
}

.face {
  align-items: center;
  display: flex;
  flex-direction: column;
  float: left;
  height: 25vw;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 25vw;
}

.face > button {
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 56px;
  height: 56px;
  width: 56px;
}

.screen {
  left: 0;
  position: absolute;
  top: 0;
}

.screen > .template {
  display: none;
}
