body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#ble {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 14px;
  height: 24px;
  opacity: 0.65;
  position: absolute;
  right: 16px;
  width: 24px;
}

#ble:hover {
  opacity: 1.0;
}

#ble.connected {
  background-image: url( '../img/bluetooth.connected.svg' );  
}

#ble.ready {
  background-image: url( '../img/bluetooth.svg' );
}

#ble.searching {
  background-image: url( '../img/bluetooth.searching.svg' );
}

#current {
  border: solid 2px rgba( 255, 255, 255, 0.65 );
  border-radius: 16px;
  bottom: 25px;
  height: 16px;
  left: 25px;
  position: absolute;
  width: 16px;
}

#current .color {
  border-radius: 12px;
  height: 12px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 12px;
}

#picker {
  bottom: -9px;
  display: none;
  height: 70px;
  left: -9px;
  opacity: 0;
  position: absolute;
  width: 70px;
}

#palette {
  height: 70px;
  width: 70px;
}

.swatch {
  display: none;
  height: 35px; 
  left: 23px; 
  position: absolute;   
  opacity: 0;
  transform: translate( 6px, 0 );  
  transform-origin: 50% 100%; 
  width: 12px;   
}

.swatch .color {
  background-color: white; 
  border-radius: 12px; 
  height: 12px; 
  left: 0;   
  position: absolute; 
  top: 0;
  width: 12px;   
}

.swatch .color:hover {
  border: solid 1px white;
}
