#bluetooth {
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  bottom: 14px;
  height: 24px;
  opacity: 0.65;
  outline: none;
  position: absolute;
  right: 16px;
  width: 24px; 
}

#bluetooth:hover {
  opacity: 1.0;
}

#bluetooth.connected {
  background-image: url( '../img/bluetooth.connected.svg' );  
}

#bluetooth.searching {
  background-image: url( '../img/bluetooth.searching.svg' );
}

#bluetooth.waiting {
  background-image: url( '../img/bluetooth.waiting.svg' );
}
