body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comparison {
  align-items: center;  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.drop_ready {
  border: dashed 10px red; 
  border-radius: 40px;  
}

.drop_waiting {
  border: dashed 10px rgba( 0, 0, 0, 0.10 );
  border-radius: 40px;  
}

.drop_zone {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: default;
  height: 300px;
  width: 300px;
}

.first_compare {
  margin-right: 20px;
}

.input {
  display: none;
}

.second_compare {
  margin-left: 20px;
}

.working_space {
  display: none;
}
