<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ibm.us.com.contentmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SourceActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateActivity"
            android:label="@string/title_add_activity"
            android:parentActivityName=".SourceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ibm.us.com.contentmanagement.SourceActivity" />
        </activity>
        <activity
            android:name=".QueryActivity"
            android:label="@string/title_query_activity"
            android:parentActivityName=".SourceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ibm.us.com.contentmanagement.SourceActivity" />
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/title_list_activity"
            android:parentActivityName=".QueryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ibm.us.com.contentmanagement.QueryActivity" />
        </activity>
    </application>

</manifest>
