@font-face {
  font-family: 'kroeger_0853';
  src: url( 'fonts/kroeger_0853.eot' );
  src: url( 'fonts/kroeger_0853.woff2' ) format( 'woff2' ),
       url( 'fonts/kroeger_0853.woff' ) format( 'woff' ),
       url( 'fonts/kroeger_0853.ttf' ) format( 'truetype' ),
       url( 'fonts/kroeger_0853.svg#kroeger_0853regular' ) format( 'svg' );
  font-weight: normal;
  font-style: normal;
}  
  
body {
  background-color: #becfbc;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  overflow: hidden;  
  padding: 0;
}
  
.cart {
  background-color: #f1f6f0;
  background-image: url( '../../img/stores/cart.svg' );
  background-position: 40px center;
  background-repeat: no-repeat;
  background-size: auto 40%;
  border-bottom: solid 2px #e0e6df;
  height: 80px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
  
.cart h3 {
  color: #a3b2a1;
  float: left;
  font-size: 28px;
  font-weight: 600;
  line-height: 80px;
  margin: 0;
  padding: 0 0 0 100px;
  text-transform: uppercase;
  text-shadow: 0 2px 0 white;
}
  
.cart .count {
  background: #ffd793;
  background: -webkit-linear-gradient( top, #ffd793 0%, #ffbf51 100% );
  background: linear-gradient( to bottom, #ffd793 0%, #ffbf51 100%);
  border: solid 2px #eda832;
  border-radius: 40px;
  box-shadow: 0 2px 0 0 rgba( 255, 255, 255, 0.70 ) inset;
  color: white;
  float: right;
  font-family: 'kroeger_0853';
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin: 20px 40px 0 0;
  padding: 0;
  text-align: center;
  text-shadow: 0 2px 0 #d1a04c;
  width: 40px;
}

.line {
  background-color: #f1f6f0;  
  border-bottom: solid 2px #e0e6df;
  border-top: solid 2px white;
  height: 122px;
  position: relative;
}
  
.line .currency {
  color: #edaf44;
  font-size: 22px;
  height: 37px;
  left: 154px;
  line-height: 37px;
  padding: 0;
  position: absolute;
  margin: 0;
  top: 61px;
}  
  
.line .price {
  color: #edaf44;
  font-size: 22px;
  height: 37px;
  left: 174px;
  line-height: 37px;
  padding: 0;
  position: absolute;
  margin: 0;
  top: 61px;
}  
  
.line .remove {
  background-image: url( '../../img/stores/letterx.svg' );
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 12px;
  position: absolute;
  height: 74px;
  right: 20px;
  top: 24px;
  width: 74px;
}

.line .thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 2px #d3ddd2;
  border-radius: 8px;
  box-shadow: 0 2px 0 white;
  height: 74px;
  left: 40px;
  position: absolute;
  top: 24px;
  width: 74px;
}
  
.line .title {
  color: #a9b7a7;
  font-size: 20px;
  height: 37px;
  left: 154px;
  line-height: 37px;
  padding: 0;
  position: absolute;
  margin: 0;
  top: 24px;
}
  
.list {
  bottom: 102px;
  left: 0;  
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;  
  position: absolute;  
  right: 0;
  top: 82px;
}
 
.preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  visibility: hidden;
}

.summary {
  background-color: #f1f6f0;
  border-top: solid 2px white;
  bottom: 0;
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
}  

.summary button {
  background: #ffd793;
  background: -webkit-linear-gradient( top, #ffd793 0%, #ffbf51 100% );
  background: linear-gradient( to bottom, #ffd793 0%, #ffbf51 100%);
  border: solid 2px #eda832;
  border-radius: 54px;
  box-shadow: 0 2px 0 0 rgba( 255, 255, 255, 0.70 ) inset,
              0 4px 4px 0 rgba( 0, 0, 0, 0.10 );
  color: white;
  float: right;
  font-size: 24px;
  height: 54px;
  line-height: 40px;
  margin: 23px 40px 0 0;
  padding: 0 40px 0 40px;
  text-align: center;
  text-shadow: 0 -2px 0 #d1a04c;
}
  
.summary button:focus {
  outline: none;
}

.summary h4 {
  color: #a3b2a1;
  float: left;
  font-size: 22px;
  font-weight: 600;
  line-height: 100px;
  margin: 0;
  padding: 0 0 0 40px;
  text-transform: uppercase;
  text-shadow: 0 2px 0 white;
}
  
.summary .amount {
  color: #a3b2a1;
  float: left;
  font-size: 22px;
  font-weight: 300;
  line-height: 100px;
  margin: 0 0 0 10px;
  padding: 0;
}
   
.summary .currency {
  color: #a3b2a1;
  float: left;
  font-size: 22px;
  font-weight: 300;
  line-height: 100px;
  margin: 0 0 0 20px;
  padding: 0;
}  
  
.template {
  display: none;
}

@media (max-width: 767px) {
  .cart {
    background-position: 20px center;    
    border-bottom: solid 1px #e0e6df;
    height: 40px;
  }
  
  .cart h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    padding: 0 0 0 50px;
    text-shadow: 0 1px 0 white;
  }  
  
  .cart .count {
    border: solid 1px #eda832;
    border-radius: 20px;
    box-shadow: 0 1px 0 0 rgba( 255, 255, 255, 0.70 ) inset;
    font-size: 8px;
    height: 20px;
    line-height: 20px;
    margin: 10px 20px 0 0;
    text-shadow: 0 1px 0 #d1a04c;
    width: 20px;
  }  
  
  .line {
    border-bottom: solid 1px #e0e6df;
    border-top: solid 1px white;
    height: 61px;
  }

  .line .currency {
    font-size: 11px;
    height: 18px;
    left: 77px;
    line-height: 18px;
    top: 30px;
  }  

  .line .price {
    font-size: 11px;
    height: 18px;
    left: 87px;
    line-height: 18px;
    top: 30px;
  }  

  .line .remove {
    background-size: auto 6px;
    height: 37px;
    right: 10px;
    top: 12px;
    width: 37px;
  }

  .line .thumbnail {
    border: solid 1px #d3ddd2;
    border-radius: 4px;
    box-shadow: 0 1px 0 white;
    height: 37px;
    left: 20px;
    top: 12px;
    width: 37px;
  }

  .line .title {
    font-size: 10px;
    height: 18px;
    left: 77px;
    line-height: 18px;
    top: 12px;
  }  
  
  .list {
    bottom: 51px;
    top: 41px;
  }  
  
  .summary {
    border-top: solid 1px white;
    height: 50px;
  }    
  
  .summary button {
    border: solid 1px #eda832;
    border-radius: 27px;
    box-shadow: 0 1px 0 0 rgba( 255, 255, 255, 0.70 ) inset,
                0 2px 2px 0 rgba( 0, 0, 0, 0.10 );
    font-size: 12px;
    height: 27px;
    line-height: 20px;
    margin: 11px 20px 0 0;
    padding: 0 20px 0 20px;
    text-shadow: 0 -1px 0 #d1a04c;
  }  
  
  .summary h4 {
    font-size: 11px;
    line-height: 50px;
    padding: 0 0 0 20px;
    text-shadow: 0 1px 0 white;
  }  
  
  .summary .amount {
    font-size: 11px;
    line-height: 50px;
    margin: 0 0 0 5px;
  }  
  
  .summary .currency {
    font-size: 11px;
    line-height: 50px;
    margin: 0 0 0 10px;
  }    
}
