body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

#holder {
  position: absolute;
  visibility: hidden;
}

#layout {
  align-items: center;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#surface {
  box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.26 );
  opacity: 0;
}

#uploader {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

#uploader + label {
  background-color: #d32f37;
  background-image: url( ../img/upload.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 56px;
  bottom: 16px;
  box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.26 );  
  height: 56px;
  position: absolute;
  right: 16px;
  width: 56px;
}
