body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	overflow: hidden;	
	padding: 0;
}

form {
	display: none;	
}

.header {
	background-color: #4CAF50;
}

.header .tabs {
	height: 46px;
	position: relative;
}

.header .tabs .selected {
	border-bottom: solid 2px #B9F6CA;
	color: white;
}

.header .tabs p {
	border-bottom: solid 2px #4CAF50;
	color: rgba( 255, 255, 255, 0.70 );
	cursor: default;
	font-size: 14px;	
	line-height: 46px;
	margin: 0;
	padding: 0;
	position: absolute;	
	text-align: center;
	text-transform: uppercase;
}

.header .toolbar {
	color: white;
	font-size: 20px;
	height: 56px;
	line-height: 56px;
	margin: 0;
	padding: 0;
	padding-left: 24px;	
}

.info {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;	
}

.list {
	left: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;	
	position: absolute;
	right: 0;
	top: 104px;
}

.list .item {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left; 
	height: 420px; 
	margin-left: 4px; 
	margin-top: 4px;
	overflow: hidden;	
	width: 420px;	
}

.list .item:last-of-type {
	margin-bottom: 5px;
}

.map {
	left: 0;
	position: absolute;
	right: 0;
	top: 104px;
	visibility: hidden;
}

.template {
	display: none;
}

.upload {
	background-color: #4CAF50;
	background-image: url( img/add.svg );
	background-position: center;
	background-repeat: no-repeat;
	background-size: 36px;
	border-radius: 56px;
	bottom: 24px;
	box-shadow: 0 2px 8px rgba( 0, 0, 0, 0.40 );
	height: 56px;
	position: absolute;
	right: 24px;
	width: 56px;
}
