body {
    margin: 0;
    overflow: hidden;
    padding: 0;
}    

p {
    color: rgba( 0, 0, 0, 0.80 );
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;    
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 183px;
}    
    
.centered {
    box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.60 );    
}    
    
.circle {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 76px;
    height: 76px;
    left: 112px;
    position: absolute;
    top: 112px;
    width: 76px;
}    
    
.condition {
    height: 300px;
    position: absolute;
    width: 300px;
}

.holder {
    height: 900px;
    position: absolute;
    width: 900px;
}    
    
/*
    */
    
.beach {
    background-image: url( conditions/beach.png ); 
}    
    
.calm {
    background-image: url( conditions/calm.png ); 
}    
 
.clear {
    background-image: url( conditions/clear.png ); 
}        
    
.cloudy {
    background-image: url( conditions/cloudy.png ); 
}        
    
.desert {
    background-image: url( conditions/desert.png ); 
}    
 
.east {
    background-image: url( conditions/east.png ); 
}    
    
.forest {
    background-image: url( conditions/forest.png ); 
}    
    
.jungle {
    background-image: url( conditions/jungle.png ); 
}    
    
.midday {
    background-image: url( conditions/midday.png ); 
}    
    
.moderate {
    background-image: url( conditions/moderate.png ); 
}    

.ne {
    background-image: url( conditions/ne.png );         
}    
    
.night {
    background-image: url( conditions/night.png ); 
}    
    
.north {
    background-image: url( conditions/north.png );         
}    
    
.nw {
    background-image: url( conditions/nw.png );         
}    

.partly {
    background-image: url( conditions/partly.png ); 
}    
    
.plains {
    background-image: url( conditions/plains.png ); 
}    
    
.rainy {
    background-image: url( conditions/rainy.png );         
}    

.se {
    background-image: url( conditions/se.png ); 
}    
    
.snow {
    background-image: url( conditions/snow.png ); 
}
    
.south {
    background-image: url( conditions/south.png ); 
}    
    
.sunny {
    background-image: url( conditions/sunny.png ); 
}
    
.sunrise {
    background-image: url( conditions/sunrise.png ); 
}    
 
.sw {
    background-image: url( conditions/sw.png ); 
}    
    
.thunderstorm {
    background-image: url( conditions/thunderstorm.png ); 
}        
    
.tornado {
    background-image: url( conditions/tornado.png ); 
}    
    
.west {
    background-image: url( conditions/west.png ); 
}    
    
.windy {
    background-image: url( conditions/windy.png ); 
}
