#folder {
  background-color: white;
  height: 100vh;
  top: 100vh;
  transition: top 0.80s;
}

#folder > p {
  color: #8e8e92;  
  font-family: 'IBM Plex Sans', sans-serif;  
  font-size: 16px;
  font-weight: 400;      
  margin: 8px 0 0 0;
  padding: 0;
  text-align: center;
}

#folder > .header {
  background-color: #152935;
}

#folder > .header > button {
  width: 85px;
}

#folder > .header > button:first-of-type {
  padding: 0 0 0 16px;
  text-align: left;
}

#folder > .header > button:last-of-type {
  padding: 0 16px 0 0;
  text-align: right;
  visibility: hidden;
}
