#objects-menu > div > button:nth-of-type( 1 ) {
  background-image: url( ../img/photo.svg );
}

#objects-menu > div > button:nth-of-type( 2 ) {
  background-image: url( ../img/garbage.svg );
  border: none;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;  
  color: #e93323;  
}
