body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 100%;
}

div.and {
  background-color: #F3F3F3;
  width: 8px;
}

ibm-show {
  flex-basis: 0;
  flex-grow: 1;
}

ibm-tell {
  flex-basis: 0;
  flex-grow: 1;
}

#main {
  box-shadow: 0 0 10px 0 rgba( 0, 0, 0, 0.60 );
  display: flex;
  flex-basis: 0;
  flex-direction: row;
  flex-grow: 1;
  margin: 0;
  padding: 0; 
}
