gator-tabs > button {
  background: none;
  background-position: center 12px;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  color: white;  
  font-family: 'Plex-Medium';
  font-size: 14px;
  margin: 0;  
  outline: none;
  text-transform: uppercase;
}

gator-tabs > button.icon {
  display: flex;
  flex-direction: column;  
  height: 72px;
  justify-content: flex-end;  
  padding: 0 16px 12px 16px;  
}

gator-tabs > button.sans-icon {
  height: 48px;
  line-height: 48px;
  padding: 0 16px 0 16px;
}

gator-tabs > div {
  background-color: white;
  bottom: 0;
  height: 2px;
  left: 16px;
  position: absolute;
  transition: left 0.8s, width 0.8s;
}
