gator-organization > button {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  float: left;
  height: 48px;
  margin: 0;
  outline: none;
  padding: 0;
  width: 256px;
}

gator-organization > button > div {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;  
  font-family: 'Plex-Text';  
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  margin: 12px 16px 0 16px;
  text-transform: uppercase;
  width: 24px;
}

gator-organization > button > p {
  font-family: 'Plex-Medium';
  font-size: 14px;  
  line-height: 48px;
  margin: 0;
  padding: 0;
  transition: color 0.80s;
}

gator-organization > button.advocate {
  display: none;
}

gator-organization > button.advocate > div {
  background-color: #80d1d0;
  background-size: cover;
  border-radius: 24px;
}

gator-organization > button.selected {
  color: #f44336;
}

gator-organization > div {
  background-color: #f44336;  
  display: none;
  height: 48px;
  position: absolute;
  right: 0;
  top: 36px;
  transition: top 0.80s;
  width: 5px;
}

gator-organization > p {
  background-color: #eeeeee;
  color: rgba( 0, 0, 0, 0.80 );
  display: block;
  height: 36px;
  font-family: 'Plex-Medium';
  font-size: 14px;
  font-weight: 600;
  line-height: 36px; 
  margin: 0;
  padding: 0 0 0 16px;
}
