gator-header > p {
  color: white;
  flex-grow: 1;
  font-family: 'Plex-Medium';
  font-size: 20px;
  line-height: 56px;
  margin: 0;
  padding: 0;
}

gator-header > button {
  background: none;
  background-image: url( ../img/download.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  height: 48px;
  outline: none;
  padding: 0;
  margin: 4px 0 0 0;
  width: 48px;
}
