gator-chart > div:first-of-type {
  border-bottom: solid 1px rgba( 0, 0, 0, 0.12 );
  display: flex;
  flex-direction: row;
  height: 64px;
}

gator-chart > div:first-of-type > p:first-of-type {
  color: rgba( 0, 0, 0, 0.80 );
  flex-basis: 0;
  flex-grow: 1;
  font-family: 'Plex-Text';
  font-size: 20px;
  line-height: 64px;
  margin: 0;
  padding: 0 0 0 16px;
}

gator-chart > div:first-of-type > p:last-of-type {
  color: rgba( 0, 0, 0, 0.80 );
  font-family: 'Plex-Text';
  font-size: 14px;
  line-height: 64px;
  margin: 0 16px 0 0;
  padding: 0;
}

gator-chart > div:last-of-type {
  left: 16px;
  position: absolute;  
  top: 80px;
}
