gator-version > p {
  margin: 0;
  padding: 0;
}

gator-version > p > a {
  color: #f44336;
  font-family: 'Plex-Medium';
  font-size: 14px;
  margin: 0;
  padding: 0 0 0 16px;
  text-decoration: none;
}

gator-version > div {
  display: flex;
  flex-direction: row;
  margin: 4px 0 0 16px;
  padding: 0;
}

gator-version > div > p {
  color: rgba( 0, 0, 0, 0.80 );
  font-family: 'Plex-Medium';
  font-size: 14px;
  margin: 0;
  padding: 0;
}

gator-version > div > p:first-of-type {
  font-weight: 600;
  margin-right: 4px;
}
