header {
  background: #f44336;
  box-shadow: 0 1px 4px 0 rgba( 0, 0, 0, 0.30 );
  display: flex;
  flex-direction: row;
  height: 56px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

header > h1 {
  color: white;
  flex-grow: 1;
  font-family: 'Plex-Text';
  font-size: 20px;
  font-weight: 300;
  line-height: 56px;
  margin: 0 0 0 16px;
  padding: 0;
}
