nav {
  background: white;
  bottom: 0;
  box-shadow: 0 1px 4px 0 rgba( 0, 0, 0, 0.30 );  
  left: 0;
  margin: 0;  
  overflow: auto;
  padding: 0;
  position: absolute;
  top: 56px;
  width: 256px;
}

nav button {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  float: left;
  height: 48px;
  margin: 0;
  outline: none;
  padding: 0;
  width: 256px;
}

nav button.advocate > div {
  background-color: #80d1d0;
  background-size: cover;
  border-radius: 24px;
}

nav button > div {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;  
  font-family: 'Plex-Text';  
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  margin: 12px 16px 0 16px;
  text-transform: uppercase;
  width: 24px;
}

nav button > p {
  font-family: 'Plex-Medium';
  font-size: 14px;  
  line-height: 48px;
  margin: 0;
  padding: 0;
}

nav div.selected {
  height: 48px;
  position: absolute;
  right: 0;
  top: 0;
  transition: top 0.8s;
  width: 5px;
}