body {
  background-color: #fafafa;
  color: rgba( 0, 0, 0, 0.87 );
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.disclaimer {
  bottom: 0;
  color: rgba( 0, 0, 0, 0.54 );
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  height: 56px;
  line-height: 56px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 24px;
}

.logo {
  background-image: url( ../img/ibm.svg );
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 14px;
  bottom: 0;
  height: 56px;
  left: 24px;
  opacity: 0.54;
  position: absolute;
  width: 100px;
}

.template {
  display: none;
}
