body {
  background-color: #fc6763;
  margin: 0;
  overflow: hidden;
  padding: 0;
}  

.slap {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 640px auto;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
