.faces > .card {
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.24 );	
	display: flex;
	flex-direction: column;
	margin: 0 0 16px 16px;
	width: 250px;
}

.faces > .card button:last-of-type {
	margin: 8px 16px 8px 0; 
}

.faces > .card > .field {
	height: 72px; 
	position: relative;	
}

.faces > .card > .field > .content {
	border: none;
	bottom: 16px; 	
	color: rgba( 0, 0, 0, 0.87 );	
	font-size: 16px; 
	left: 16px; 	
	margin: 0; 
	outline: none;
	padding: 0; 
	position: absolute; 
	width: 218px;
}

.faces > .card > .field > .divider {
	background-color: rgba( 0, 0, 0, 0.12 );	
	bottom: 8px;		
	height: 1px; 	
	left: 16px; 
	position: absolute; 	
	right: 16px; 
}

.faces > .card > .field > .divider.selected {
	background-color: #2196F3;	
	height: 2px;		
}

.faces > .card > .field > .hint {
	bottom: 16px; 	
	color: rgba( 0, 0, 0, 0.38 );		
	font-size: 16px; 
	left: 16px; 	
	margin: 0; 
	outline: none;
	padding: 0; 
	position: absolute; 
	right: 16px; 
}

.faces > .card > .field > .label {
	color: rgba( 0, 0, 0, 0.24 );
	font-size: 12px; 	
	left: 16px; 	
	margin: 0; 
	padding: 0; 
	position: absolute; 
	right: 16px; 
	top: 16px; 
	visibility: hidden
}

.faces > .card > .field > .label.filled {
	color: rgba( 0, 0, 0, 0.24 );
	visibility: visible;	
}

.faces > .card > .field > .label.selected {
	color: #2196F3;			
	visibility: visible;
}

.faces > .card > .person {
	height: 56px;
	position: relative;
}

.faces > .card > .person > .avatar {
	background-image: url( ../img/paige.face.jpg ); 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;		
	border-radius: 40px; 
	height: 40px; 	
	left: 105px; 	
	position: absolute; 
	top: 8px; 
	width: 40px; 
}

.faces > .card > .person > .stripe {
	background-color: #2196F3; 
	border-top-left-radius: 2px; 
	border-top-right-radius: 2px;	
	height: 28px; 
	left: 0; 	
	position: absolute; 
	right: 0; 
	top: 0; 
}

.faces > .card > .sheet {
	display: flex; 
	flex-direction: row; 
	justify-content: flex-end;	
}

.faces > .list {
	margin: 0 0 16px 16px;
	width: 250px;
}

.faces > .list > .person {
	border-bottom: solid 1px rgba( 0, 0, 0, 0.12 );
	cursor: default;
	display: flex;
	flex-direction: row;
	height: 56px;		
}

.faces > .list > .person:last-of-type {
	border-bottom: none;
}

.faces > .list > .person > .avatar {
	background-color: red;
	background-image: url( ../img/paige.face.jpg );
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 40px;
	height: 40px;
	margin: 8px 16px 0 16px;
	width: 40px;
}

.faces > .list > .person > .content {
	color: rgba( 0, 0, 0, 0.87 );
	font-size: 16px;
	line-height: 56px;
	margin: 0;
	padding: 0;
  text-transform: capitalize;
}
