body {
	background-color: #e0e0e0;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

button.add {
	background-color: #2196F3;
	background-image: url( ../img/add.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px;
	border: none;
	border-radius: 50px;
	box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.28 );
	height: 50px;
	margin: 0 16px 16px 16px;
	outline: none;
	width: 50px;	
}

button.flat {
	background: none; 
	border: none; 	
	border-radius: 2px; 	
	color: #2196F3; 	
	font-size: 14px; 
	font-weight: 500; 	
	height: 36px; 
	margin: 8px 8px 8px 0; 
	padding: 0 8px 0 8px; 
	outline: none; 
	text-transform: uppercase;	
}

header {
	display: flex;
	flex-direction: row;
	margin: 0 0 0 32px;	
	min-height: 56px;			
}

header p {
	color: rgba( 0, 0, 0, 0.54 );
	font-size: 16px;
	line-height: 56px;	
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

.action {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.desktop {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.faces {
	display: flex;
	flex-direction: column;
  	visibility: hidden;
  	width: 250px;
}

.list {
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.24 );
	display: flex;
	flex-direction: column;
}

.original {
	position: absolute;
	display: none;
}

.people {
	display: flex;
	flex-direction: column;
}


.preview {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	flex-grow: 1;
	margin: 56px 0 16px 0;
}

.template {
	display: none;
}