.people > .list {
	height: 100%;
	margin: 0 16px 16px 16px;
	width: 250px;
}

.people > .list > .person {
	display: flex;
	flex-direction: row;
	height: 56px;	
}

.people > .list > .person > .avatar {
	background-image: url( ../img/paige.face.jpg );
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 40px;
	height: 40px;
	margin: 8px 16px 0 16px;
	width: 40px;
}

.people > .list > .person > .content {
	border-bottom: solid 1px rgba( 0, 0, 0, 0.12 );		
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	height: 56px;
}

.people > .list > .person > .content > p {
	color: rgba( 0, 0, 0, 0.87 );
	font-size: 16px;
	line-height: 56px;
	margin: 0;
	padding: 0;
}

.people > .list > .person > .content > p:last-of-type {
	color: rgba( 0, 0, 0, 0.54 );
	margin: 0 0 0 16px;
}
