body {
    font-family: 'Open Sans', sans-serif;
}    

.capture {
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 64px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    width: 64px;
}

.file {
    background-image: url( ../images/upload.svg );    
}

.help {
    font-size: 3em;
    font-weight: 300;    
}

.microphone {
    background-image: url( ../images/microphone.svg );    
}

.prompt {
    color: white;
    cursor: default;
    flex-grow: 1;
    text-align: center;
}

.scene {
    background-image: url( ../images/hdc.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.transcribe {
    font-size: 2em;
}

.watson {
    align-content: center;
    background-color: rgba( 0, 0, 0, 0.60 );
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}